---
layout: default
---
{% comment %}

{% capture matieres %}
  {% for category in site.categories %}
    {% for post in site.posts%}
      {% if post.categories[0] contains category[0] %}
        {% unless post.tags contains 'archive'%}
          {{category | first}}
        {% endunless %}
      {%endif%}
    {%endfor%}
  {%endfor%}
  {% endcapture %}
{% assign matieres  =  matieres | split:" " | uniq %}

{% endcomment %}

<div class="home">
  <header class="post-header">
    {{ site.description }}

    {% comment %}

    <p class="breadcrumbs">
      {% for data_tag in site.tags %}
      <span class="tag" >{{data_tag[0]}}</span>
      {% endfor %}
    </p>
    {% endcomment %}

  </header>
  {% assign items = site.matieres | sort: 'order' %}
  {% for matiere in items  %}
  <a href="{{matiere.url | prepend: site.baseurl }}">
    <section class="matiere">
      <h2>{{matiere.title}}</h2>
      <h3 class="subtitle">{{matiere.subtitle}}</h3>
      <p>
        {{matiere.summary}}
      </p>
      <p class="flat-bullets">
        {% for post in site.categories[matiere.matiere] reversed %}
            {% unless post.tags contains 'archive'%}

                 <a  href="{{ post.url | prepend: site.baseurl }}" alt="{{post.title}}" title="{{post.title}}" >
                   &#9679;
                 </a>

            {% endunless %}
        {%endfor%}
      </p>
    </section>
  </a>
  {% endfor %}

{% if site.tags contains 'archive' %}
  <section class="archive">
    <h2>Archives</h2>
    {% for post in site.posts %}
      {% if post.tags contains 'archive' %}
        <li>
          <span class="label label-matiere">{{post.categories[0]}}</span>
          <span class="label label-{{post.categories[1]}}"></span>
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </li>
      {% endif %}
    {%endfor%}
  </section>
{% endif %}


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
