/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}
.tag {
  font-style: italic;
}
.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.breadcrumbs {
  float: right;
  list-style: none;
  padding: 8px 15px;
    border-radius: 4px;background-color: #f5f5f5;
  >li{
      display: inline-block;
  }
}
.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
 body{
   counter-reset: h2counter;
 }
 h1 {
   counter-reset: h2counter;
 }
.post {

  h2:before {
  	content: counter(h2counter) ".\0000a0\0000a0";
  	counter-increment: h2counter;
  }
}
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Slides
 */

 #back{
     font-family: sans-serif;
 	position:absolute;
 	z-index:100;
 	right:5px;
 	top:5px;
     height:10%;
     width:5%;
     background-image: url(../images/favicon64.png) ;
     background-position : 50% 50%  ;
     -webkit-background-size: 80%;
     background-size: 80%;
     background-repeat: no-repeat;
     text-decoration: none;
     color:gray;
     text-align: center;
     vertical-align: center;
     line-height: 100%;
 }
 #back:hover {
     background-image: url(../images/back.png) ;
 }


/**
 * matiere
 */


.matiere{

  border: solid 1px $grey-color-light;
  margin: 3em auto;
  padding: 1em;
  background-color: $darker-background-color;
}

.label {
  &.label-lecture {
    @include icon(book);
    color: $text-color;
  }
  &.label-lab {
    @include icon(wrench);
    color: $text-color;
  }
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: $label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  // Add hover effects, but only for links
  &[href] {
    &:hover,
    &:focus {
      color: $label-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Empty labels collapse automatically (not available in IE8)
  // &:empty {
  //   display: none;
  // }
}


/**
 * Labs
 */

 .question {

 	background-color: lighten(desaturate($question-color, 80%), 5%);
 	position: relative;
 	padding: 1em;
 	margin: 1em ;
 	h3 {
 		margin: 0;
 		padding: 0 0 1ex 1em;
 	}
 	&:before {
    @extend .fa;
 		content: "\f128";
 		background-color: $question-color;
 		border-radius: 50%;
 		width:2em;
 		height:2em;
 		line-height: 2em;
 		text-align: center;
 		display: table-cell;
     vertical-align: middle;
 		border: 5px solid white;
 		top: -1em;
 		left: -1em;
 		position: absolute;
 	}
 }

/**
 * license
 */
.license{
  text-align: right;
}
