<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.url }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ site.url }}/teaching/">Teaching</a></li>
          <li><a href="{{ site.url }}/publications/">Publications</a></li>
          <li><a href="//other.pigne.org">Other</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      {% if page.license == "none" %}
      <div class="center">
          {% include footer-contact.html %}
      </div>
      {% else %}
      <div class="grid-2">
        <div class="grid-item">  
          {% include footer-contact.html %}
        </div>
        <div class="grid-item">
          {% include license.html %}
        </div>
      </div>
      {% endif %}
    </footer>
  </body>
</html>
